@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    margin:0px;
}
.basic_layout{
    box-sizing: border-box;
    background-image:linear-gradient(rgba(0, 0, 0, 0.679),rgba(0, 0, 0, 0.612)), url(https://assets.nflxext.com/ffe/siteui/vlv3/5e48e7b6-350d-48d9-96d6-de8ca173c89f/fbb54774-ca17-4208-a995-db44bffe4163/IN-en-20221219-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    /* background-repeat: no-repeat; */
    background-size:auto;
    height:auto;
    font-family: 'Roboto', sans-serif;
    color:white;
}
.header{
    display: flex;
    height:126px;
    width:100%;
    z-index:10;
    position:sticky;
    top:0px;
    /* background-color: rgba(0, 0, 0, 0.405); */
}

.logoimg{
    height: 44.5px;
    margin: 29px 57px;
}

#lang{
    height:40px;
    padding:10px;
    margin:10px;
    position: absolute;
    top:21px;
    right:140px;
    background-color: black;
    color:white;
    border:2px solid white;
    border-radius: 4px;
}
#signin{
    position: absolute;
    top: 23px;
    right: 33px;
    height: 20px;
    width:50px;
    padding:9px 15px;
    margin: 10px;
    background-color: red;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.box{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    /* flex-wrap: wrap; */
    height:450px;
    width:50%;
    margin:40px;
    padding:38px;
    border:2px solid white;
    background: linear-gradient(rgba(0, 0, 0, 0.532),rgba(0, 0, 0, 0.453));
}
.downboxes{
    color:rgb(255, 255, 255);
}
.downboxes:hover{
    color:rgb(200, 52, 52);
    cursor:default;
}
#box1{
    border:none;
    background: none;
    margin-bottom:150px;
}
.heading{
    font-size: 33px;
    text-align: center;
    margin:0px;
}
h1{
    margin:5px;
}
.content{
    width:90%;
    /* font-size:25px; */
    text-align:center;
}
#para1{
    font-size:28px;
    margin:5px;
}
#para2{
    font-size:20px;
    margin:30px 20px 5px 20px;
}
.mail{
    width:100%;
    font-size: 20px;
}
#email{
    width:64%;
    height: 30px;
    display:inline-block;
    margin:auto 0px;
    padding:18px;
    font-size: 16px;
    border:0px;
    /* border-radius: 5px; */
}
.btn{
    display:inline;
    width:30%;
    height:67px;
    position:relative;
    top:5px;
    right:5px;
    margin:12px 0px;
    padding:10px;
    font-size: 30px;
    background-color: red;
    color:white;
    border:0px;
}
.btn:hover{
    cursor: pointer;
    background-color: rgb(186, 84, 66);
}
footer{
    text-align: center;
    font-size: large;
}